* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #F0F0F0 !important;
    font-family: "Roboto Mono" !important;
}

/* font  */
@font-face {
    font-family: "Roboto Mono";
    src: url("font/static/RobotoMono-Regular.ttf")
}

/* background animation  */
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#startContainer {
    height: 90vh;
    background: linear-gradient(132deg, rgba(239, 239, 239, 94), rgba(112, 112, 112, 44), rgba(176, 176, 176, 69), rgba(214, 214, 214, 84), rgba(252, 252, 252, 99));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

/* links  */
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.blackLink a:link {
    color: black;
}

.blackLink a:visited {
    color: black;
}

/* responsive  */
@media screen and (max-width: 850px) {
    .productImg {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .productImg {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 550px) {
    .productImg {
        width: 200px;
        height: auto;
    }

    #aboutImg {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .productImg {
        width: 130px;
        height: auto;
    }
}