*{margin: 0; padding: 0;}


@font-face {
    font-family: "spaceMonoRegular";
    src: url("font/SpaceMono-Regular.ttf");
}

body{
    background:#efefef;
}

#menuStart{
    font-family: "Constantia Regular", "Constantia Regular", serif;
}

#containerStart{    
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:transparent;
}
#leftBlock{
    background-color:transparent;
    font-family: "Constantia Regular", "Constantia Regular", serif;
}

#rightBlock{
    margin-left:50px;
}

.centerHori{
    margin-top:30vh;
    height:100vh;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white !important;
}

#centerVert{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:white!important;
    margin-top: 140px;  
    display:flex;
    justify-content: center;
}

@media screen and (max-width:1400px){
    .infoText{
        font-size:13px;
    }
    .projectsCenter img{
        width:300px;
        height:200px;
    }

}

@media screen and (max-width: 1100px){
    #rightBlock img{
        width:300px;
        height:300px;
    }
    #leftBlock{
        font-size:15px;
    }
    .infoText{
        font-size:14px;
    }
    .projectsCenter img{
        width:200px;
        height:100px;
    }
}

@media screen and (max-width: 700px){
    #rightBlock img{
        width:200px;
        height:200px;
    }
    #leftBlock{
        font-size:10px;
    }
    #footerText{
        font-size:15px;
    }
    .projectsCenter img{
        width:200px;
        height:100px;
    }
}

@media screen and (max-width: 400px){
    #rightBlock img{
        width:150px;
        height:150px;
    }
    #leftBlock{
        font-size:7px;
    }
}

footer{
    height:5vh;
    background-color: #efefef;
    border-top: 2px solid black;
    width:95vw;
    margin-left:auto!important;
    margin-right: auto!important;
    position:sticky;
    bottom:0;
}

#rightAlignFooter{
    float:right;
}


.infoBorder{
    width:50vw;
    background-color: transparent;
    border: 2px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    border-radius:20px 20px 0px 0px;
    border-bottom: 0;
    padding-bottom: 100px;
}   

.infoHeading{
    text-align: center;
    margin-top:80px;
}

.infoText{
    text-align: center;
    padding-left:70px;
    padding-right:70px;
    font-family: "Constantia Regular", "Constantia Regular", serif;
}

html{
    scroll-behavior: smooth;
}

.alignRightInfo{
    float:right;
}

.alignLeftInfo{
    text-align: start;
}

.alignRightProjects{
    flex:50%;
    justify-content: end;
}

.alignLeftProjects{
    justify-content: start;
    flex:50%;
}

.projectsCenter{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: transparent;
    margin-top: 40px;
    gap: 15px;
}

/*Länkar*/
a:link{
    color: black;
}

a:visited{
    color:black;
}

