*{margin: 0; padding: 0;}

#leftblock{
    float:left;
    background-color:white;
    width:300px;
    height:300px;
    text-align:left;
}

#rightblock{
    float:right;
    background-color:white;
    width:300px;
    margin-top:10%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centervert{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#centerhori{
    width:600px;
    height:1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: 95%;
    height: 50px;
    clear: both;
    background-color: white;
    color: white;
    text-align: center;
    flex-shrink: 0;
    margin-bottom: 0;
    text-align: left;
    border-top: 2px solid black;
    margin-left:50px;
    margin-right:50px;
    color:black;
    padding-top:10px;
}

#infofooter{
    float:right;
    width:300px;
    height:20px;
    background-color:white;
}

