* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #F0F0F0 !important;
    font-family: "Roboto Mono" !important;
}

#responsiveSamuel {
    font-size: 30px;
}

/* #responsiveUnderSamuel {
    font-size: 20px;
} */

/* font  */
@font-face {
    font-family: "Roboto Mono";
    src: url("font/static/RobotoMono-Regular.ttf")
}

/* background animation  */
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#startContainer {
    height: 90vh;
    margin: 5vh;
    background: linear-gradient(132deg, rgba(239, 239, 239, 94), rgba(112, 112, 112, 44), rgba(176, 176, 176, 69), rgba(214, 214, 214, 84), rgba(252, 252, 252, 99));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

.responsiveHeader{
    font-size:30px;
}

.productImg {
    border-radius: 10px;
}

/* links  */
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.blackLink {
    font-size: 17px;
}

.blackLink a:link {
    color: black;
}

.blackLink a:visited {
    color: black;
}

/* responsive  */
@media screen and (max-width: 850px) {
    .productImg {
        width: 300px;
        height: auto;
    }

    .responsiveText{
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    .productImg {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 550px) {
    .productImg {
        width: 200px;
        height: auto;
    }

    #aboutImg {
        width: 200px;
        height: auto;
    }

    .responsiveText{
        font-size: 13px;
    }

    #responsiveSamuel {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .productImg {
        width: 130px;
        height: auto;
    }

    .responsiveText{
        font-size: 11px;
    }

    .responsiveHeader{
        font-size:25px;
    }
    
}

@media screen and (max-width: 400px) {
    #aboutImg {
        width:120px;
        height: auto;
    }

    .responsiveHeader{
        font-size:20px;
    }

    #responsiveSamuel {
        font-size: 20px;
    }

    #responsiveUnderSamuel {
        font-size: 13px;
    }

    .blackLink {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .responsiveText{
        font-size: 11px;
    }

    .responsiveHeader{
        font-size:15px;
    }

    #responsiveUnderSamuel {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .productImg {
        width: 70px;
        height: auto;
    }

    #aboutImg {
        width:100px;
        height: auto;
    }

    .responsiveText{
        font-size: 9px;
    }

    .responsiveHeader{
        font-size:10px;
    }

    #responsiveUnderSamuel {
        font-size: 9px;
    }

    .blackLink {
        font-size: 13px;
    }
}